 .u-section-1 {
  min-height: 1010px;
}

.u-section-1 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 454px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 422px;
  height: 372px;
  margin: 41px auto 0 96px;
}

.u-section-1 .u-text-1 {
  font-size: 2.1875rem;
  margin: -282px 217px 0 616px;
}

.u-section-1 .u-slider-1 {
  min-height: 165px;
  width: 558px;
  height: auto;
  margin: 0 123px 0 auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 47px 50px 0;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 15px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 0 9px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-1 .u-carousel-control-1 {
  width: 31px;
  height: 31px;
}

.u-section-1 .u-carousel-control-2 {
  width: 31px;
  height: 31px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 30px 123px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 2.125rem;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  box-shadow: 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 108px calc(((100% - 1140px) / 2) + 29px) 0 calc(((100% - 1140px) / 2) + 55px);
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  line-height: 2;
  margin: 41px calc(((100% - 1140px) / 2) + 570px) 0 calc(((100% - 1140px) / 2) + 55px);
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  line-height: 2;
  margin: -300px calc(((100% - 1140px) / 2) + 32px) 60px calc(((100% - 1140px) / 2) + 570px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -267px;
    margin-right: 101px;
    margin-left: 532px;
  }

  .u-section-1 .u-slider-1 {
    width: 523px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: -17px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-6 {
    font-weight: bold;
    width: auto;
    margin-top: 92px;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2) + 33px);
  }

  .u-section-1 .u-text-7 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-right: calc(((100% - 940px) / 2) + 470px);
    margin-left: calc(((100% - 940px) / 2) + 33px);
  }

  .u-section-1 .u-text-8 {
    width: auto;
    font-size: 1.5rem;
    margin-top: -192px;
    margin-right: calc(((100% - 940px) / 2) + 33px);
    margin-left: calc(((100% - 940px) / 2) + 470px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    min-height: 735px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 80px;
    margin-right: 176px;
    margin-left: 237px;
  }

  .u-section-1 .u-slider-1 {
    margin-top: -17px;
    margin-right: 60px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 6px;
    margin-right: 96px;
  }

  .u-section-1 .u-text-6 {
    margin-left: calc(((100% - 720px) / 2) + 66px);
  }

  .u-section-1 .u-text-7 {
    margin-top: 24px;
    margin-right: calc(((100% - 720px) / 2) + 218px);
    margin-left: calc(((100% - 720px) / 2) + 66px);
  }

  .u-section-1 .u-text-8 {
    margin-top: -43px;
    margin-right: calc(((100% - 720px) / 2) + 218px);
    margin-left: calc(((100% - 720px) / 2) + 66px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    min-height: 630px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-right: 167px;
    margin-left: 66px;
  }

  .u-section-1 .u-slider-1 {
    margin-top: -41px;
    margin-right: 34px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
    margin-right: 24px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 102px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2) + 104px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-8 {
    margin-top: -47px;
    margin-right: calc(((100% - 540px) / 2) + 103px);
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1181px;
  }

  .u-section-1 .u-group-1 {
    min-height: 590px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 300px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 18px;
  }

  .u-section-1 .u-slider-1 {
    width: 340px;
    margin-top: -20px;
    margin-right: auto;
    margin-left: 41px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
    transition-duration: 0.5s;
    margin-top: 50px;
    margin-left: calc(((100% - 340px) / 2) + -24px);
  }

  .u-section-1 .u-text-7 {
    margin-top: 17px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-8 {
    margin: -44px calc(((100% - 340px) / 2) + -12px) 40px calc(((100% - 340px) / 2) + -24px);
  }
}

.u-section-1 .u-text-6,
.u-section-1 .u-text-6:before,
.u-section-1 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-6.u-text-6.u-text-6:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  box-shadow: 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1 .u-text-6 {
  border-color: transparent !important;
}

.u-section-1 .u-text-6.u-text-6.u-text-6.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  box-shadow: 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1 .u-text-6 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 651px;
}

.u-section-2 .u-text-1 {
  font-size: 2.125rem;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  box-shadow: 0px rgba(0,0,0,0) 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 -24px 0 56px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  line-height: 2;
  margin: 31px -24px 60px 56px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-weight: bold;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1003px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    transition-duration: 0.5s;
    width: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
  }
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  box-shadow: 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-2 .u-text-1 {
  border-color: transparent !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  box-shadow: 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-2 .u-text-1 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 650px;
}

.u-section-3 .u-text-1 {
  font-size: 2.125rem;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  box-shadow: 0px rgba(0,0,0,0) 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 -24px 0 56px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  line-height: 2;
  margin: 20px -24px 60px 56px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-weight: bold;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2179px;
  }

  .u-section-3 .u-text-1 {
    transition-duration: 0.5s;
    width: auto;
    margin-top: 3px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-left: 0;
  }
}

.u-section-3 .u-text-1,
.u-section-3 .u-text-1:before,
.u-section-3 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-1.u-text-1.u-text-1:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  box-shadow: 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-3 .u-text-1 {
  border-color: transparent !important;
}

.u-section-3 .u-text-1.u-text-1.u-text-1.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  box-shadow: 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-3 .u-text-1 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-4 .u-sheet-1 {
  min-height: 582px;
}

.u-section-4 .u-text-1 {
  font-size: 2.125rem;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  box-shadow: 0px rgba(0,0,0,0) 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 -24px 0 56px;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  line-height: 2;
  margin: 20px -24px 60px 56px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    font-weight: bold;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 991px;
  }

  .u-section-4 .u-text-1 {
    transition-duration: 0.5s;
    width: auto;
    margin-top: -2px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-left: 0;
  }
}

.u-section-4 .u-text-1,
.u-section-4 .u-text-1:before,
.u-section-4 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-1.u-text-1.u-text-1:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  box-shadow: 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-4 .u-text-1 {
  border-color: transparent !important;
}

.u-section-4 .u-text-1.u-text-1.u-text-1.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  box-shadow: 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-4 .u-text-1 {
  border-color: transparent !important;
}

.u-section-4 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-5 .u-sheet-1 {
  min-height: 673px;
}

.u-section-5 .u-text-1 {
  font-size: 2.125rem;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  box-shadow: 0px rgba(0,0,0,0) 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 -24px 0 56px;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  line-height: 2;
  margin: 20px -24px 60px 56px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-weight: bold;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1254px;
  }

  .u-section-5 .u-text-1 {
    transition-duration: 0.5s;
    width: auto;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 0;
  }
}

.u-section-5 .u-text-1,
.u-section-5 .u-text-1:before,
.u-section-5 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-text-1.u-text-1.u-text-1:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  box-shadow: 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-5 .u-text-1 {
  border-color: transparent !important;
}

.u-section-5 .u-text-1.u-text-1.u-text-1.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  box-shadow: 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-5 .u-text-1 {
  border-color: transparent !important;
}

.u-section-5 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-6 .u-sheet-1 {
  min-height: 425px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 10px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 416px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 26px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  font-size: 2.125rem;
  box-shadow: 0px rgba(0,0,0,0);
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px 0 0;
}

.u-section-6 .u-form-1 {
  height: 276px;
  width: 510px;
  background-image: none;
  margin: 39px auto 0;
}

.u-section-6 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-form-1 {
    width: 410px;
    margin-top: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-6 .u-form-1 {
    width: 300px;
    margin-top: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    transition-duration: 0.5s;
  }
}

.u-section-6 .u-text-1,
.u-section-6 .u-text-1:before,
.u-section-6 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-text-1.u-text-1.u-text-1:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  box-shadow: 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-6 .u-text-1 {
  border-color: transparent !important;
}

.u-section-6 .u-text-1.u-text-1.u-text-1.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  box-shadow: 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-6 .u-text-1 {
  border-color: transparent !important;
}

.u-section-6 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}